/* CSS stillerinizi buraya girin */
html{
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
}
body{
    font-family: 'Roboto Mono', monospace;
    color: aquamarine;
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(156deg, rgba(2,0,36,1) 18%, rgba(11,11,142,1) 47%, rgba(7,6,98,1) 64%, rgba(3,1,48,1) 82%, rgba(2,0,36,1) 100%);
}

h1{
    margin: 2% auto;
    display:flex;
    font-size: 1.25rem;
    color: aquamarine;
    justify-content: center;
    height: 2rem;
}


.flex-container-nav{
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    padding: 3%;
    border-radius: 3%;
    flex-grow: 1;
    color: aquamarine;
}

.flex-container-nav a{
    text-decoration: none;
}

.flex-item{
    font-size: 1.25rem;
    font-family: 'Roboto Mono', monospace; 
    padding: 0.5rem 1rem;
    color:aquamarine;
    border: 1px solid aquamarine;
}

.flex-container-main{
    padding: 0 10%;
    display: flex;
    justify-content: center;
    width: 80%;
    font-size: 0.75rem;
    font-family: 'Roboto Mono', monospace;
}

.flex-container-image{
    padding: 3%;
    width: 90vw;
    height: 40vw;
    display: flex;
    justify-content: center;
}

.flex-container-projeler{
    margin: 0 auto;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
.flex-container-projeler-image1{
    display: flex;
    justify-content: space-evenly;
    height: 550px;
    width: 200px;
    padding: 5%;
    flex-shrink: 1;
}

.flex-container-projeler-image2{
    display: flex;
    justify-content: space-evenly;
    height: 550px;
    width: 200px;
    padding: 5%;
    flex-shrink: 1;
}

.flex-container-projeler-image3{
    display: flex;
    justify-content: space-evenly;
    height: 550px;
    width: 200px;
    padding: 5%;
    flex-shrink: 1;
}

.flex-container-projeler-text{
    padding: 10%;
}

h2{
    margin: 2% auto;
    display:flex;
    font-size: 0.75rem;
    color: aquamarine;
    justify-content: center;
    height: 1rem;
    border: 1px solid aquamarine;
}

.flex-container-nav2{
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    padding: 3%;
    border-radius: 3%;
    flex-grow: 1;
    color: aquamarine;
}
.flex-container-nav2 a{
    text-decoration: none;
}

@media(max-width:600px){
    .flex-container{
        width: 70vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .flex-container-nav{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .flex-container-nav a{
        font-size: 0.75rem;
        text-align: center;
    }

    .flex-container-image{
        width: 95vw;
    }

    .flex-container-projeler{
        margin: 0 auto;
        padding: 3%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: space-around;
    }

    .flex-container-projeler *{
        width: 40vw;
        padding: 2%;
    }

    .flex-container-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex-container-nav2 {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .flex-container-nav2 a{
        font-size: 0.75rem;
    }

}
